body {
    margin:0;
    padding:0;
}
* {
    margin:0;
    padding:0;
}
.light {
    position:relative;
    display:block;
    width:100vw;
    height:100vh;
    line-height:0;
    background-color:#000;
    overflow:hidden;
}
.light::after {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:1;
}
.light img {
    width:100%;
    height:auto;
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}
.light-start {
    width:34.375vw;
    height:28vw;
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%,-55%);
    transform:translate(-50%,-55%);
    z-index:2;
    cursor:pointer;
}
.light-playing .light-start {
    display:none;
}
.light.light-hide {
    display:none;
}

@media (orientation: portrait) and (max-width: 900px) {
    .light img {
        height:70%;
        width:auto;
    }
    .light-start {
        width:50vh;
        height:40vh;
    }
}

/* V */
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #0D1226;
  }
  body.loaded{
    overflow: auto;
  }
#main{
    display: none;
  }
  body.loaded #wrap-intro{
    display: none;
  }
  body.loaded #main{
    display: block;
  }
@keyframes fade-out {
    to {
      opacity: 0;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to { 
      opacity:1
    }
  }
  .anim-fade-out {
    animation: fade-out 1s forwards;
  }
  .anim-fade-in {
    animation: fade-in 1s forwards;
  }